---
permalink: "404.html"
---

{% extends "base.njk" %}

{% block head %}
<title>Red Ciudadana - Participación Ciudadana</title>

{% endblock %}

{% block content %}
            
        <!-- features-area-start -->
        <div class="features-02-area pb-90 pt-50" style="background-color: #e2e6ec;">
            <div class="container">
                <div class="row">
                    
                    <div class="col-xl-10 col-lg-10 mx-auto">
                        <img src="/assets/ELEMENTOS/404-02.png">
                        <h1>Oops</h1>
                        <p>La página que buscas no se encuentra disponible. <br> Revisa el URL o vuelve a la pagina de inicio.</p>
                        <a class="btn" href="/index.html">Regresar al Inicio</a>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}

{% block body_javascripts%}

{% endblock %}