---
permalink: "/contacto/index.html"
---

{% extends "base.njk" %}

{% block head %}
<title>Red Ciudadana - Contacto</title>
{% endblock %}

{% block content %}

            <!-- breadcrumb-area-start -->
            <div class="breadcrumb-area pt-150 pb-155" style="background-image:url(/assets/ELEMENTOS/CONTACTO/SLIDER-CONTACTO.png)">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="breadcrumb-text text-center">
                                <h1>Contáctanos </h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- breadcrumb-area-end -->





            <!-- contact-address-area-strat -->
            <div class="contact-box-area pt-130 pb-130">
                <div class="container">
                    <div class="contact-box-bg">
                        <div class="row">
                            <div class="col-xl-4 col-lg-4 col-md-6 mb-30">
                                <div class="contact-box-wrapper text-center">
                                    <div class="contact-box-icon-img mb-35">
                                        <img src="/assets/img/icon/a1.png" alt="">
                                    </div>
                                    <div class="contact-box-img">
                                        <img src="/assets/img/icon/line.png" alt="">
                                     </div>
                                     <div class="contact-box-text">
                                         <p>Vía 4 1-00 Zona 4, 01004</p>
                                         <p>Ciudad de Guatemala, Guatemala</p>
                                     </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-6 mb-30">
                                <div class="contact-box-wrapper text-center">
                                    <div class="contact-box-icon-img mb-35">
                                        <img src="/assets/img/icon/a2.png" alt="">
                                    </div>
                                    <div class="contact-box-img">
                                        <img src="/assets/img/icon/line.png" alt="">
                                     </div>
                                     <div class="contact-box-text">
                                         <p>info@redciudadana.org.gt</p>
                                     </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-6 mb-30">
                                <div class="contact-box-wrapper text-center">
                                    <div class="contact-box-icon-img mb-35">
                                        <img src="/assets/img/icon/a3.png" alt="">
                                    </div>
                                    <div class="contact-box-img">
                                        <img src="/assets/img/icon/line.png" alt="">
                                     </div>
                                     <div class="contact-box-text">
                                        <p>www.redciudadana.org</p>
                                     </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- contact-address-area-end -->

            <!-- contact-area-start -->
            <div class="contact-area">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-8 col-lg-8 offset-lg-2 offset-xl-2">
                             <div class="section-title text-center mr-40 ml-40 mb-75">
                                 <span><i class="far fa-heart-circle"></i> Envíanos un mensaje</span>
                                 <br><br><br>
                                 <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSe2DNIWZVQugZ_G-rQCzO9EKpWr66ZXe8rbBBHtKYduKIeXyQ/viewform?embedded=true" width="640" height="1025" frameborder="0" marginheight="0" marginwidth="0">Cargando…</iframe>
                             </div>
                        </div>
                    </div>
 
                </div>
            </div>
            <!-- contact-area-end -->

{% endblock %}