---
pagination:
  data: collections.especiales
  size: 5
  alias: especiales
  reverse: true
permalink: "especiales/{% if pagination.pageNumber > 0 %}pagina-{{ pagination.pageNumber + 1 }}/{% endif %}index.html"
---

{% extends "base.njk" %}

{% block head %}
<title>Red Ciudadana - Especiales</title>
{% endblock %}

{% block content %}

            <!-- Banner -area-start -->
            <div class="breadcrumb-area pt-150 pb-155" style="background-image:url(/assets/ELEMENTOS/EVENTOS/SLIDER-EVENTOS.png)">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="breadcrumb-text text-center">
                                <h1>Especiales </h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- breadcrumb-area-end -->

            <!-- event-area-start -->
            <div class="event-area pt-80 pb-130">
                <div class="container">
                    <div class="breadcrumb-text text-left">
                        <h2>Especiales </h2>
                    </div><br>

                    {% if especiales%}
                    {% for post in especiales%}

                    <!-- Especiales -->
                    <div class="event-bg event-bg-03 pos-rel mb-30">
                        <div class="row">
                            <div class="col-xl-3 col-lg-3">
                                <div class="event-content mb-20">
                                    <span><i class="far fa-calendar-alt verdeo"></i> Fecha:</span>
                                    <h3>{{post.data.date | dateFormat('DD / MM / YYYY')}}</h3>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-4">
                                <div class="event-img mb-20">
                                    <a href="{{post.url}}"><img src="{{post.data.image}}" alt="Lanzamiento Web Red Ciudadana"></a>
                                </div>
                            </div>
                            <div class="col-xl-5 col-lg-5">
                                <div class="event-wrapper mb-20 ">
                                    <div class="event-text">                                    
                                        <h3><a href="{{post.url}}">{{post.data.title}}</a></h3>
                                    </div>
                                    <div class="event-meta">
                                        <span><i class="far fa-user-circle"></i>{{post.data.autor}}</span>
                                        <br>
                                        <span><i class="far fa-map-marked-alt verdeo"></i> {{post.data.description}}</span>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="evt-button">
                            <a href="{{post.url}}"><i class="fa-solid fa-long-arrow-right"></i></a>
                        </div>
                    </div>

                    {% endfor %}
                    {% endif %}

                    <div class="d-flex justify-content-center">
                        {% if pagination.href.previous %}
                        <div class="mx-4">
                            {% if pagination.href.previous %}<a href="{{ pagination.href.previous }}">← Especiales más recientes</a>{% else %}←  Nuevos Especiales{% endif %}
                        </div>
                        {% endif %}
                        {% if pagination.href.next %}
                        <div class="mx-4">
                            {% if pagination.href.next %}<a href="{{ pagination.href.next }}">Especiales anteriores →</a>{% else %}Especiales anteriores →{% endif %}
                        </div>
                        {% endif %}
                    </div>

                </div>
            </div>
            <!-- event-area-end -->

{% endblock %}