---
permalink: "/estrategia_24-28/index.html"
---

{% extends "base.njk" %}

{% block head %}
<title>Red Ciudadana - Estrategia</title>
{% endblock %}

{% block content %}
            <!-- Banner-area-start -->
            <div class="breadcrumb-area pt-200 pb-200" style="background-image:url(/assets/ELEMENTOS/ESTRATEGIA/fondos/ESTRATEGIA_RED-02.png)">
                <div class="container pr-10 pl-10 pt-40 pb-40">
                    <div class="row justify-content-center">
                        <div class="col-xl-4 mx-4">
                            <div class="breadcrumb-text text-start">
                                <p style="font-size:30px; color:#fff" class="m-0">Red Ciudadana</p>
                                <h1 style="font-size:70px" class="m-0">Estrategia</h1>
                                <p style="font-size:28px; color:#fff" class="m-0">2024-2028</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Banner-area-end -->

            <!-- Nosotros-area-start -->
            <div class="about-us-area pt-130 pb-100" style="background-image:url(/assets/ELEMENTOS/ESTRATEGIA/fondos/ESTRATEGIA_RED-03.png)">
                <div class="container pr-10 pl-10">
                    <div class="row pr-120 pl-120 align-items-center">
                        <div class="col-xl-6 col-lg-6">
                            <p style="color:#fff;font-size:20px;font-wegiht:100px">
                                <b>En Red Ciudadana</b>, tenemos una visión
                                clara y ambiciosa para el año 2028.
                                <b>Nuestra aspiración es convertirnos en
                                una organización líder en la promoción
                                de la innovación gubernamental y el
                                fortalecimiento de la relación entre el
                                gobierno y la ciudadanía en Guatemala.</b>
                                Vemos un futuro donde nuestra asociación
                                civil habrá impactado positivamente la
                                vida de miles de personas a través de
                                la mejora de los servicios públicos, la
                                transparencia y la ejecución eficiente
                                del gasto público.
                            </p>
                        </div>

                        <div class="col-xl-6 col-lg-6">
                            <div class="img_perfil">
                               <img src="/assets/ELEMENTOS/ESTRATEGIA/imagenes/IMAGENES-29.png">
                               <div class="titulo_perfil">
                                    <img src="/assets/img/redciudadana.png">
                                    <h6 class="m-0">Julio Herrera</h6>
                                    <p class="m-0">Director Red Ciudadana</p>
                               </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!-- Nosotros-area-end -->

            <!-- objetivos y programas -->
            <div class="breadcrumb-area pt-200 pb-20" style="background-image:url(/assets/ELEMENTOS/ESTRATEGIA/fondos/ESTRATEGIA_RED-04.png)">
                <div class="container pr-10 pl-10 pt-40 pb-40">
                    <div class="row justify-content-center">
                        <div class="col-xl-6 mx-4">
                            <div class="titulo_estrategia">
                                <h1 style="font-size:35px;font-weight:800px" class="m-0">Objetivos y Programas</h1>
                                <h6 style="font-size:30px;font-weight:600px" class="m-0">Estratégicos</h6>
                            </div>
                        </div>
                    </div>
                    <div class="row pt-40 justify-content-center">
                        <div class="col-xl-5">
                            <div class="goto_estrategia">
                                <p style="color:#fff;font-family:'text-medium', sans-serif;font-size: 16px;">Desplazarse para comenzar<p>
                                <img src="/assets/ELEMENTOS/ESTRATEGIA/iconos/ESTRATEGIA_RED-06.png">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- objetivos y programas-end -->

            <div class="breadcrumb-area pt-100 pb-100" style="background-image:url(/assets/ELEMENTOS/ESTRATEGIA/fondos/ESTRATEGIA_RED-14.png)">
                <div class="container pr-10 pl-10 pt-40 pb-40">
                    <div class="row pr-120 pl-120">
                        <div class="col-xl-9 mb-20">
                            <h1 style="font-size:30px;font-weight:800px" class="m-0">
                                Nuestros objetivos y programas estratégicos
                                reflejan nuestra misión y visión, y están alineados
                                con nuestros pilares fundamentales. Los tres
                                objetivos principales y los programas relacionados
                                para el período 2024-2028
                            </h1>
                        </div>
                    </div>

                    <div class="row py-2 pr-120 pl-120 align-items-center">
                        <div class="col-xl-6 mb-20">
                            <img style="padding:0 5%" src="/assets/ELEMENTOS/ESTRATEGIA/imagenes/IMAGENES-15.png">
                        </div>
                        <div class="col-xl-6 mb-20">
                            <h1 style="font-size:27px;font-weight:800">Innovación de Gobierno</h1>
                            <div class="linea2"></div>
                            <p style="font-size:17px;color: #232830;" class="mb-20">
                                Creemos que la adopción de tecnologías y
                                prácticas innovadoras puede transformar la
                                manera en que el gobierno presta servicios a
                                los ciudadanos, mejora la transparencia y
                                fomenta la participación ciudadana.
                            </p>
                            <a href="https://redciudadana.org/programas/innovaci%C3%B3n-en-gobierno/index.html" class="link_estrategia">Leer más<i class="pl-1 fa-sharp fa-solid fa-arrow-right"></i></a>
                        </div>
                    </div>
                    <div class="row py-2 pr-120 pl-120 align-items-center">
                        <div class="col-xl-6 order-xl-2 mb-20">
                            <img style="padding:0 5%" src="/assets/ELEMENTOS/ESTRATEGIA/imagenes/IMAGENES-16.png">
                        </div>
                        <div class="col-xl-6 mb-20">
                            <h1 style="font-size:27px;font-weight:800">Fortalecimiento de OSC</h1>
                            <div class="linea2"></div>
                            <p style="font-size:17px;color: #232830;" class="mb-20">
                                Las OSC juegan un papel crucial en la
                                defensa de los derechos de los ciudadanos,
                                la promoción de la rendición de cuentas y la
                                mejora de la gobernanza.
                            </p>
                            <a href="https://redciudadana.org/programas/fortalecimiento-de-espacios-c%C3%ADvicos/index.html" class="link_estrategia">Leer más<i class="pl-1 fa-sharp fa-solid fa-arrow-right"></i></a>
                        </div>
                    </div>
                    <div class="row py-2 pr-120 pl-120 align-items-center">
                        <div class="col-xl-6 mb-20">
                            <img style="padding:0 5%" src="/assets/ELEMENTOS/ESTRATEGIA/imagenes/IMAGENES-17.png">
                        </div>
                        <div class="col-xl-6 mb-20">
                            <h1 style="font-size:27px;font-weight:800">Anticorrupción</h1>
                            <div class="linea2"></div>
                            <p style="font-size:17px;color: #232830;" class="mb-20">
                                Bajo el tercer objetivo estratégico, Red Ciudadana se compromete a combatir la corrupción mediante la
                                promoción de la transparencia, la participación ciudadana y el uso estratégico de la tecnología en los procesos de
                                contratación y gestión gubernamental.
                            </p>
                            <a href="https://redciudadana.org/programas/anticorrupcion/" class="link_estrategia">Leer más<i class="pl-1 fa-sharp fa-solid fa-arrow-right"></i></a>
                        </div>
                    </div>
                    <div class="row py-2 pr-120 pl-120 align-items-center">
                        <div class="col-xl-6 order-xl-2 mb-20">
                            <img style="padding:0 5%" src="/assets/ELEMENTOS/ESTRATEGIA/imagenes/td-19.png">
                        </div>
                        <div class="col-xl-6 mb-20">
                            <h1 style="font-size:27px;font-weight:800">Transformación Digital</h1>
                            <div class="linea2"></div>
                            <p style="font-size:17px;color: #232830;" class="mb-20">
                                Nuestro cuarto objetivo estratégico se centra en la Transformación Digital. 
                                Reconocemos que la digitalización es una fuerza poderosa que puede mejorar 
                                la eficiencia, la accesibilidad y la efectividad de los servicios y la 
                                participación ciudadana. Este objetivo busca integrar la tecnología de 
                                manera estratégica en todas las áreas de la organización y en los servicios que prestamos a la comunidad.
                            </p>
                            <a href="https://redciudadana.org/programas/transformaci%C3%B3n-digital/index.html" class="link_estrategia">Leer más<i class="pl-1 fa-sharp fa-solid fa-arrow-right"></i></a>
                        </div>
                    </div>

                    
 
                </div>
            </div>


            <!-- programas estrategicos -->
            <div class="breadcrumb-area pt-200 pb-20" style="background-image:url(/assets/ELEMENTOS/ESTRATEGIA/fondos/ESTRATEGIA_RED-07.png)">
                <div class="container pr-10 pl-10 pt-40 pb-40">
                    <div class="row justify-content-center">
                        <div class="col-xl-6 mx-4">
                            <div class="titulo_estrategia">
                                <h1 style="font-size:35px;font-weight:800px" class="m-0">Implementando los Programas Estratégicos</h1>
                            </div>
                        </div>
                    </div>
                    <div class="row pt-40 justify-content-center">
                        <div class="col-xl-5">
                            <div class="goto_estrategia">
                                <p style="color:#fff;font-family:'text-medium', sans-serif;font-size: 16px;">Estrategia 2024-2028<p>
                                <img src="/assets/ELEMENTOS/ESTRATEGIA/iconos/ESTRATEGIA_RED-06.png">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- programas estrategicos-end -->

            <div class="breadcrumb-area pt-100 pb-100" style="background-image:url(/assets/ELEMENTOS/ESTRATEGIA/fondos/ESTRATEGIA_RED-10.png)">
                <div class="container pr-10 pl-10 pt-40 pb-40">
                    <div class="row pr-120 pl-120 justify-content-center">
                        <div class="col-xl-9 text-center">
                            <h1 style="font-size:30px;font-weight:800px" class="mb-60">
                                El éxito del Plan Estratégico 2024-2028 de
                                Red Ciudadana requiere de una implementación
                                sólida y estructurada que sea flexible y adaptable a las
                                cambiantes circunstancias. Este plan de implementación
                                    seguirá un enfoque de cinco etapas.
                            </h1>
                        </div>
                    </div>

                    <div class="row pr-120 pl-120 justify-content-center">
                        <div class="col-xl-2 text-center align_center no_res">
                            <img src="/assets/ELEMENTOS/ESTRATEGIA/iconos/ICONOS-30.png" >
                        </div>
                        <div class="col-xl-5  mt-30 mb-30" style="background-image:url(/assets/ELEMENTOS/ESTRATEGIA/fondos/ESTRATEGIA_RED-13.png)">
                            <div class="cuadro_plan" style="padding:40px 20px">
                                <div class="numero_plan">1</div>
                                <h1 style="font-size:30px;font-weight:800px" class="mt-10 mb-20">
                                    Innovación en Gobierno
                                </h1>
                                <ul style="font-size:17px;color: #232830;" class="mb-20">
                                    <li><i class="pr-1 fa-sharp fa-solid fa-arrow-right"></i>Gobierno Digital</li>
                                    <li><i class="pr-1 fa-sharp fa-solid fa-arrow-right"></i>Gobierno Abierto</li>
                                    <li><i class="pr-1 fa-sharp fa-solid fa-arrow-right"></i>Innovación Pública</li>
                                    <li><i class="pr-1 fa-sharp fa-solid fa-arrow-right"></i>Justicia Abierta</li>
                                    <li><i class="pr-1 fa-sharp fa-solid fa-arrow-right"></i>Municipalidades Abiertas</li>
                                </ul>
                                <a href="#" class="link_estrategia2">Leer más<i class="pl-1 fa-sharp fa-solid fa-arrow-right"></i></a>
                            </div>
                        </div>
                        <div class="col-xl-2 text-center align_center no_res">
                            <img src="/assets/ELEMENTOS/ESTRATEGIA/iconos/ICONOS-30.png" style="transform: rotate(90deg);">
                        </div>
                    </div>

                    <div class="row pr-120 pl-120 justify-content-center">
                        <div class="col-xl-5  mt-30 mb-30" style="background-image:url(/assets/ELEMENTOS/ESTRATEGIA/fondos/ESTRATEGIA_RED-13.png)">
                            <div class="cuadro_plan" style="padding:40px 20px">
                                <div class="numero_plan">2</div>
                                <h1 style="font-size:30px;font-weight:800px" class="mt-10 mb-20">
                                    Fortalecimiento de OSC
                                </h1>
                                <ul style="font-size:17px;color: #232830;" class="mb-20">
                                    <li><i class="pr-1 fa-sharp fa-solid fa-arrow-right"></i>ImpactaLatam</li>
                                    <li><i class="pr-1 fa-sharp fa-solid fa-arrow-right"></i>Capítulos Locales</li>
                                    <li><i class="pr-1 fa-sharp fa-solid fa-arrow-right"></i>Red de Mentores</li>
                                    <li><i class="pr-1 fa-sharp fa-solid fa-arrow-right"></i>Formación en Auditoría Social</li>
                                    <li><i class="pr-1 fa-sharp fa-solid fa-arrow-right"></i>Subvenciones para la Capacitación</li>
                                </ul>
                                <a href="#" class="link_estrategia2">Leer más<i class="pl-1 fa-sharp fa-solid fa-arrow-right"></i></a>
                            </div>
                        </div>
                        <div class="col-xl-2 text-center align_center no_res">
                            <img src="/assets/ELEMENTOS/ESTRATEGIA/iconos/ICONOS-31.png">
                        </div>
                        <div class="col-xl-5  mt-30 mb-30" style="background-image:url(/assets/ELEMENTOS/ESTRATEGIA/fondos/ESTRATEGIA_RED-13.png)">
                            <div class="cuadro_plan" style="padding:40px 20px">
                                <div class="numero_plan">3</div>
                                <h1 style="font-size:30px;font-weight:800px" class="mt-10 mb-20">
                                    Anticorrupción
                                </h1>
                                <ul style="font-size:17px;color: #232830;" class="mb-20">
                                    <li><i class="pr-1 fa-sharp fa-solid fa-arrow-right"></i>Implementación de Open Contracting</li>
                                    <li><i class="pr-1 fa-sharp fa-solid fa-arrow-right"></i>Lanzamiento de Open Contracting</li>
                                    <li><i class="pr-1 fa-sharp fa-solid fa-arrow-right"></i>Red Flags de Contrataciones</li>
                                    <li><i class="pr-1 fa-sharp fa-solid fa-arrow-right"></i>Plataforma de Datos Abiertos</li>
                                    <li><i class="pr-1 fa-sharp fa-solid fa-arrow-right"></i>Índice Anticorrupción</li>
                                </ul>
                                <a href="#" class="link_estrategia2">Leer más<i class="pl-1 fa-sharp fa-solid fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="row pr-120 pl-120 justify-content-center">
                        <div class="col-xl-2 text-center align_center no_res">
                            <img src="/assets/ELEMENTOS/ESTRATEGIA/iconos/ICONOS-30.png" style="transform: rotate(270deg);">
                        </div>
                        <div class="col-xl-5  mt-30 mb-30" style="background-image:url(/assets/ELEMENTOS/ESTRATEGIA/fondos/ESTRATEGIA_RED-13.png)">
                            <div class="cuadro_plan" style="padding:40px 20px">
                                <div class="numero_plan">4</div>
                                <h1 style="font-size:30px;font-weight:800px" class="mt-10 mb-20">
                                    Transformación Digital
                                </h1>
                                <ul style="font-size:17px;color: #232830;" class="mb-20">
                                    <li><i class="pr-1 fa-sharp fa-solid fa-arrow-right"></i>Encuentro de Transformación Digital</li>
                                    <li><i class="pr-1 fa-sharp fa-solid fa-arrow-right"></i>Escuela de Gobierno Digital</li>
                                    <li><i class="pr-1 fa-sharp fa-solid fa-arrow-right"></i>Política de Gobierno Digital</li>
                                    <li><i class="pr-1 fa-sharp fa-solid fa-arrow-right"></i>Plan Nacional de Gobierno Digital</li>
                                    <li><i class="pr-1 fa-sharp fa-solid fa-arrow-right"></i>5. Guía Nacional de Interoperabilidad (Intercambio de Datos)</li>
                                </ul>
                                <a href="#" class="link_estrategia2">Leer más<i class="pl-1 fa-sharp fa-solid fa-arrow-right"></i></a>
                            </div>
                        </div>
                        <div class="col-xl-2 text-center align_center no_res">
                            <img src="/assets/ELEMENTOS/ESTRATEGIA/iconos/ICONOS-30.png" style="transform: rotate(180deg);">
                        </div>
                    </div>
<!-- 
                    <div class="row mt-40 pr-120 pl-120 justify-content-center">
                        <div class="col-lg-3 text-center">
                            <a href="#" class="btn">Más Información</a>
                        </div>
                    </div> -->

                </div>
            </div>

            <!-- guatemala 2028 -->
            <div class="breadcrumb-area pt-200 pb-20" style="background-image:url(/assets/ELEMENTOS/ESTRATEGIA/fondos/ESTRATEGIA_RED-11.png)">
                <div class="container pr-10 pl-10 pt-40 pb-40">
                    <div class="row justify-content-center">
                        <div class="col-xl-6 mx-4">
                            <div class="titulo_estrategia">
                                <h1 style="font-size:35px;font-weight:800px" class="m-0">Guatemala 2028</h1>
                            </div>
                        </div>
                    </div>
                    <div class="row pt-40 justify-content-center">
                        <div class="col-xl-5">
                            <div class="goto_estrategia">
                                <img src="/assets/ELEMENTOS/ESTRATEGIA/iconos/ESTRATEGIA_RED-06.png">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- guatemala 2028-end -->

            <div class="breadcrumb-area pt-100 pb-100" style="background-image:url(/assets/ELEMENTOS/ESTRATEGIA/fondos/ESTRATEGIA_RED_002-27.png)">
                <div class="container pr-10 pl-10 pt-40 pb-40">
                    
                    <div class="row pr-120 pl-120">
                        <div class="col-xl-6" style="background-image:url(/assets/ELEMENTOS/ESTRATEGIA/fondos/ESTRATEGIA_RED-13.png)">
                            <div style="padding:40px 20px">
                                <h1 style="font-size:30px;font-weight:800px" class="mb-20">
                                    Visión 2028
                                </h1>
                                <p style="font-size:17px;color: #232830;" class="mb-20">
                                Nuestra aspiración es convertirnos en una organización
                                líder en la promoción de la innovación gubernamental y
                                el fortalecimiento de la relación entre el gobierno y la
                                ciudadanía en Guatemala. Vemos un futuro donde
                                nuestra asociación civil habrá impactado positivamente
                                la vida de miles de personas a través de la mejora de los
                                servicios públicos, la transparencia y la ejecución
                                eficiente del gasto público.
                                </p>
                                <a href="#" class="link_estrategia">Leer más<i class="pl-1 fa-sharp fa-solid fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
  
                </div>
            </div>

            <!-- unete -->
            <div class="breadcrumb-area pt-70 pb-70" style="background-image:url(/assets/ELEMENTOS/ESTRATEGIA/fondos/ESTRATEGIA_RED-13.png)">
                <div class="container pr-10 pl-10 pt-40 pb-40">
                    
                    <div class="row pr-120 pl-120">
                        <div class="col-xl-6">
                            <div style="padding:40px 20px">
                                <img style="width:60px;margin-bottom:30px" src="/assets/img/redciudadana.png">
                                <h1 style="font-size:50px;font-weight:800px" class="mb-20">
                                    Unete a Red Ciudandana
                                </h1>
                                <!-- <p style="font-size:17px;color: #232830;" class="mb-30">
                                Lorem ipsum dolor sit amet, consectetuer
                                adipiscing elit, sed diam nonummy nibh eui
                                smod tincidunt ut laoreet dolore magna al
                                iquam erat volutpat. Ut wisi enim ad minim
                                </p> -->
                                <a href="https://publicaciones.redciudadana.org/2024/Plan_Estrategico2024_2028.pdf" class="btn">Leer Estrategia 2024-2028<i class="pl-1 fa-sharp fa-solid fa-arrow-right"></i></a>
                            </div>
                        </div>

                        <div class="col-xl-6">
                            <img style="padding:0 5%" src="/assets/ELEMENTOS/ESTRATEGIA/imagenes/IMAGENES-18.png">
                        </div>
                    </div>
  
                </div>
            </div>
            <!-- unete-end -->
       

{% endblock %}

{% block body_javascripts%}


{% endblock %}
