---
permalink: "/eventos/index.html"
---

{% extends "base.njk" %}

{% block head %}
<title>Red Ciudadana - Eventos</title>
{% endblock %}

{% block content %}

            <!-- Banner -area-start -->
            <div class="breadcrumb-area pt-150 pb-155" style="background-image:url(/assets/ELEMENTOS/EVENTOS/SLIDER-EVENTOS.png)">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="breadcrumb-text text-center">
                                <h1>Proximos Eventos - 2022 </h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- breadcrumb-area-end -->

            <!-- event-area-start -->
            <div class="event-area pt-80 pb-130">
                <div class="container">
                    <div class="breadcrumb-text text-left">
                        <h2>Enero 2022 </h2>
                    </div><br>

                    <!-- Evento 1 -->
                    <div class="event-bg event-bg-03 pos-rel mb-30">
                        <div class="row">
                            <div class="col-xl-3 col-lg-3">
                                <div class="event-content mb-20">
                                    <span><i class="far fa-calendar-alt verdeo"></i> Fecha:</span>
                                    <h3>5 de enero 2022</h3>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-4">
                                <div class="event-img mb-20">
                                    <a href=" https://redciudadana.org/"><img src="/assets/ELEMENTOS/EVENTOS/Lanzamiento_Web_Red_Ciudadana.png" alt="Lanzamiento Web Red Ciudadana"></a>
                                </div>
                            </div>
                            <div class="col-xl-5 col-lg-5">
                                <div class="event-wrapper mb-20 ">
                                    <div class="event-text">
                                        <span><i class="far fa-map-marked-alt verdeo"></i> Fortalecimiento de espacios cívicos</span>
                                        <h3><a href=" https://redciudadana.org/">Lanzamiento de Página Web Institucional Red Ciudadana</a></h3>
                                    </div>
                                    <div class="event-meta">
                                        <span><i class="far fa-user-circle"></i> https://redciudadana.org/</span>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="evt-button">
                            <a href=" https://redciudadana.org/"><i class="far fa-long-arrow-right"></i></a>
                        </div>
                    </div>

                    <!-- Evento 2 -->
                    <div class="event-bg event-bg-03 pos-rel mb-30">
                        <div class="row">
                            <div class="col-xl-3 col-lg-3">
                                <div class="event-content mb-20">
                                    <span><i class="far fa-calendar-alt verdeo"></i> Fecha:</span>
                                    <h3>10 de enero 2022</h3>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-4">
                                <div class="event-img mb-20">
                                    <a href=" https://www.facebook.com/Redciudadanagt"><img src="/assets/ELEMENTOS/EVENTOS/Lanzamiento_Datos_Abiertos.png" alt="Datos Abiertos"></a>
                                </div>
                            </div>
                            <div class="col-xl-5 col-lg-5">
                                <div class="event-wrapper mb-20 ">
                                    <div class="event-text">
                                        <span><i class="far fa-map-marked-alt verdeo"></i> Innovación en Gobierno</span>
                                        <h3><a href=" https://redciudadana.org/">Campaña de Comunicación: Datos Abiertos</a></h3>
                                    </div>
                                    <div class="event-meta">
                                        <span><i class="far fa-user-circle"></i> https://www.facebook.com/Redciudadanagt</span>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="evt-button">
                            <a href=" https://www.facebook.com/Redciudadanagt"><i class="far fa-long-arrow-right"></i></a>
                        </div>
                    </div>

                    <!-- Evento 3 -->
                    <div class="event-bg event-bg-03 pos-rel mb-30">
                        <div class="row">
                            <div class="col-xl-3 col-lg-3">
                                <div class="event-content mb-20">
                                    <span><i class="far fa-calendar-alt verdeo"></i> Fecha:</span>
                                    <h3>12 de enero 2022</h3>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-4">
                                <div class="event-img mb-20">
                                    <a href=" https://redciudadana.org/"><img src="/assets/ELEMENTOS/EVENTOS/Indice_Datos_Abiertos.png" alt="Índice de Datos Abiertos 2021"></a>
                                </div>
                            </div>
                            <div class="col-xl-5 col-lg-5">
                                <div class="event-wrapper mb-20 ">
                                    <div class="event-text">
                                        <span><i class="far fa-map-marked-alt verdeo"></i> Innovación en Gobierno</span>
                                        <h3><a href=" https://redciudadana.org/">Presentación del Índice de Datos Abiertos 2021</a></h3>
                                    </div>
                                    <div class="event-meta">
                                        <span><i class="far fa-user-circle"></i> https://redciudadana.org/</span>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="evt-button">
                            <a href=" https://redciudadana.org/"><i class="far fa-long-arrow-right"></i></a>
                        </div>
                    </div>

                    <!-- Evento 4 -->
                    <div class="event-bg event-bg-03 pos-rel mb-30">
                        <div class="row">
                            <div class="col-xl-3 col-lg-3">
                                <div class="event-content mb-20">
                                    <span><i class="far fa-calendar-alt verdeo"></i> Fecha:</span>
                                    <h3>19 de enero 2022</h3>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-4">
                                <div class="event-img mb-20">
                                    <a href=" https://escuela.redciudadana.org/"><img src="/assets/ELEMENTOS/EVENTOS/LANZAMIENTO_ESCUELA.png" alt="Escuela de Innovación 2022 Red Ciudadana"></a>
                                </div>
                            </div>
                            <div class="col-xl-5 col-lg-5">
                                <div class="event-wrapper mb-20 ">
                                    <div class="event-text">
                                        <span><i class="far fa-map-marked-alt verdeo"></i> Fortalecimiento de espacios cívicos</span>
                                        <h3><a href=" https://escuela.redciudadana.org/">Lanzamiento de Plan de Escuela de Innovación 2022 Red Ciudadana</a></h3>
                                    </div>
                                    <div class="event-meta">
                                        <span><i class="far fa-user-circle"></i> https://escuela.redciudadana.org/</span>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="evt-button">
                            <a href=" https://redciudadana.org/"><i class="far fa-long-arrow-right"></i></a>
                        </div>
                    </div>

                    <!-- Evento 5 -->
                    <div class="event-bg event-bg-03 pos-rel mb-30">
                        <div class="row">
                            <div class="col-xl-3 col-lg-3">
                                <div class="event-content mb-20">
                                    <span><i class="far fa-calendar-alt verdeo"></i> Fecha:</span>
                                    <h3>24 de enero 2022</h3>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-4">
                                <div class="event-img mb-20">
                                    <a href=" https://redciudadana.org/"><img src="/assets/ELEMENTOS/EVENTOS/EVENTOS/RED_CIUDADANA.png" alt=""></a>
                                </div>
                            </div>
                            <div class="col-xl-5 col-lg-5">
                                <div class="event-wrapper mb-20 ">
                                    <div class="event-text">
                                        <span><i class="far fa-map-marked-alt verdeo"></i> Fortalecimiento de espacios cívicos</span>
                                        <h3><a href=" https://redciudadana.org/">Presentación de Plan Estratégico 2022-2025</a></h3>
                                    </div>
                                    <div class="event-meta">
                                        <span><i class="far fa-user-circle"></i> https://redciudadana.org/</span>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="evt-button">
                            <a href=" https://redciudadana.org/"><i class="far fa-long-arrow-right"></i></a>
                        </div>
                    </div>




                </div>
            </div>
            <!-- event-area-end -->

{% endblock %}