---
permalink: "index.html"
---

{% extends "base.njk" %}

{% block head %}
<title>Red Ciudadana - Participación Ciudadana</title>

{% endblock %}

{% block content %}
            
            <div class="popup">
                <button id="close">&times;</button>
                <div id="video" style="padding:56.25% 0 0 0;position:relative;"><iframe id="iframe" src="https://player.vimeo.com/video/861333246?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" style="position:absolute;top:0;left:0;width:100%;height:70vh;" title="Somos Red Ciudadana"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
            </div>

            <div class="popup2">
                <button id="close2">&times;</button>
                <a target="_blank" href="/blogs/paro-indefinido/"><img src="/assets/ELEMENTOS/paroind.gif"></a>
            </div>
                           
            
            <!-- slider-start -->
            <div class="video-container w-100">
                <video muted autoplay loop>
                    <source src="/assets/img/red/SLIDER-RED.mp4" type="video/mp4; "/>        
                </video>
                <div class="caption">
                    <h1 class="txt-white txt-titulo">Participación, formación ciudadana y apertura de datos</h1>
                    <p class="txt-white " >Somos una organización que trabaja por una Guatemala más democrática, innovadora y transparente.</p>
                    <div class="slider-button">
                        <a class="btn  mx-4" href="#" id="open">Quiero saber más <i class="fa-solid fa-arrow-right"></i></a>
                        <a class="btn  mx-4" href="/#">Estrategia 2024-2028 <i class="fa-solid fa-long-arrow-right"></i></a>
                    </div>
                </div>
            </div>

            <!-- features-area-start -->
            <div class="features-02-area pb-90 pt-50">
                <div class="container">
                    <div class="row">
                        
                        <div class="col-xl-10 col-lg-10 mx-auto">
                            <div class="single-features mb-40 text-center ">
                                <div class="section-title mb-20">
                                    <h6><img width="30px" style="margin-right:10px" src="/assets/img/redciudadana.png">¿Quiénes somos? </h6>
                                    <div class="linea"></div>
                                    <h1 style="font-size: 45px!important;">Red Ciudadana</h1>
                                    <p><strong>Con 12 años de experiencia en Guatemala</strong>, investigamos sobre los obstáculos que impiden la participación ciudadana y creamos herramientas innovadoras para el fortalecimiento institucional, Auditoria Social y fortalecimiento de espacios civicos con el objetivo de acercar a las comunidades a sus gobiernos. Trabajamos en proyectos que promuevan la innovación, lucha contra la corrupción, fortalecimiento del trabajo de activistas, y la incidencia en políticas públicas</p>
                                </div>
                                <div class="features-02-content">
                                    <p>Promovemos el fortalecimiento de los sistemas de gobernanza democrática para garantizar la rendición de cuentas, la justicia y la inclusión.</p>
                                    <a class="btn " href="/nosotros.html">Quiero saber más <i class="fa-solid fa-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-10 col-lg-10 mx-auto">
                            <div class="row">
                                <div class="col-xl-8 col-lg-8 offset-lg-2 offset-xl-2">
                                    <div class="section-title text-center mr-40 ml-40 mb-75">
                                        <h6><img width="30px" style="margin-right:10px" src="/assets/img/redciudadana.png">¿Qué hacemos?</h6>
                                        <div class="linea"></div>

                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                
                                <div class="col-xl-3 col-lg-3 col-md-6 mb-40">
                                    <div class="features-02-wrapper text-center">
                                        <div class="features-02-icon-img pos-rel">
                                            <div class="features-02-icon">
                                                <img src="/assets/img/red/ICONOS-08.png" alt="Innovación en Gobierno">
                                            </div>
                                            <div class="features-03-icon">
                                                <a href="/proyectos/index.html#proyectos"><i class="far fa-plus"></i></a>
                                            </div>
                                        </div>
                                        <div class="features-02-text text-center">
                                            <h3>Innovación en Gobierno</h3>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xl-3 col-lg-3 col-md-6 mb-40">
                                    <div class="features-02-wrapper text-center">
                                        <div class="features-02-icon-img pos-rel">
                                            <div class="features-02-icon">
                                                <img src="/assets/img/red/ICONOS-09.png" alt="Innovación Social">
                                            </div>
                                            <div class="features-03-icon">
                                                <a href="/proyectos/index.html#proyectos"><i class="far fa-plus"></i></a>
                                            </div>
                                        </div>
                                        <div class="features-02-text text-center">
                                            <h3>Innovación Social</h3>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xl-3 col-lg-3 col-md-6 mb-40">
                                    <div class="features-02-wrapper text-center">
                                        <div class="features-02-icon-img pos-rel">
                                            <div class="features-02-icon">
                                                <img src="/assets/img/red/ICONOS-10.png" alt="Auditoria Social">
                                            </div>
                                            <div class="features-03-icon">
                                                <a href="/proyectos/index.html#proyectos"><i class="far fa-plus"></i></a>
                                            </div>
                                        </div>
                                        <div class="features-02-text text-center">
                                            <h3>Auditoria Social</h3>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xl-3 col-lg-3 col-md-6 mb-40">
                                    <div class="features-02-wrapper text-center">
                                        <div class="features-02-icon-img pos-rel">
                                            <div class="features-02-icon">
                                                <img src="/assets/img/red/ICONOS-11.png" alt="Fortalecimiento de Espacios Cívicos">
                                            </div>
                                            <div class="features-03-icon">
                                                <a href="/proyectos/index.html#proyectos"><i class="far fa-plus"></i></a>
                                            </div>
                                        </div>
                                        <div class="features-02-text text-center">
                                            <h3>Fortalecimiento de Espacios Cívicos</h3>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>

                    </div>
                </div>
            </div>
            <!-- features-area-end -->

            <!-- counter-area-start -->
            <div class="counter-area pt-125 pb-95" style="background-image:url(assets/img/red/03.png)/*background-color: #19A280*/">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-3 col-lg-3 col-md-6">
                            <div class="counter-wrapper counter-02-wrapper text-center mb-30">
                                <div class="counter-icon">
                                    <!--i class="flaticon-heart"></i-->
                                    <img src="assets/ELEMENTOS/HOME/ICONOS BANNER/AÑOS-TRABAJANDO.png">
                                </div>
                                <div class="counter-text">
                                    <h1 class="counter">+12</h1>
                                    <span>Años trabajando</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-6">
                            <div class="counter-wrapper counter-02-wrapper text-center mb-30">
                                <div class="counter-icon">
                                    <!--i class="flaticon-handicap"></i-->
                                    <img src="assets/ELEMENTOS/HOME/ICONOS BANNER/PERSONAS-IMPACTADAS.png">
                                </div>
                                <div class="counter-text">
                                    <h1 class="counter">6352</h1>
                                    <span>Personas impactadas</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-6">
                            <div class="counter-wrapper counter-02-wrapper text-center mb-30">
                                <div class="counter-icon">
                                    <!--i class="flaticon-donation"></i-->
                                    <img src="assets/ELEMENTOS/HOME/ICONOS BANNER/PROYECTOS.png">
                                </div>
                                <div class="counter-text">
                                    <h1 class="counter">60</h1>
                                    <span>Proyectos</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-6">
                            <div class="counter-wrapper counter-02-wrapper text-center mb-30">
                                <div class="counter-icon">
                                    <!--i class="flaticon-donation-1"></i-->
                                    <img src="assets/ELEMENTOS/HOME/ICONOS BANNER/HERRAMIENTAS.png">
                                </div>
                                <div class="counter-text">
                                    <h1 class="counter">17</h1>
                                    <span>Herramientas</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- counter-area-end -->


            <!-- PROYECTOS -->

            <!-- proyectos-area-start -->
            <div class="blog-area pt-60 pb-60">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-8 col-lg-8 offset-lg-2 offset-xl-2">
                            <div class="section-title text-center mr-40 ml-40 mb-75">
                                <h6><img width="30px" style="margin-right:10px" src="/assets/img/redciudadana.png">¿Cómo trabajamos?</h6>
                                <div class="linea"></div>
                                <h1 style="font-size: 45px!important;">Explora nuestros últimos proyectos</h1>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        {% set sortedProyectos = collections.proyectos | sortById %}

                        {% for proyecto in sortedProyectos | reverse | limit(3) %}

                        <div class="col-xl-4 col-lg-4 col-md-6">
                            <div class="case-wrapper case-02-wrapper mb-30">
                                <div class="case-img">
                                    <a href="{{proyecto.url}}"><img src="{{proyecto.data.foto}}" alt="{{proyecto.data.title}}"></a>
                                </div>
                                <div class="case-text">
                                    <h3><a href="{{proyecto.url}}"> {{proyecto.data.title}} </a></h3>
                                    <span>{{proyecto.data.ano}}</span>
                                </div>
                                <div class="case-info custom-overflow-hidden" style="height:120px">
                                    <p class="text-overflow2"> {{proyecto.data.descripcion}} </p>
                                </div>
                                <div class="b-button">
                                    <a href="{{proyecto.url}}"><span>Mas Información</span> <i class="fa-solid fa-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>

                        {% endfor %}
                    </div>
                    <div class="row">
                        <div class="col-lg-12 text-center mb-4">
                            <a class="btn " href="/proyectos/index.html">Ver todos los proyectos<i class="fa-solid fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- mediciones-area-start -->
            <div class="blog-area pt-60 pb-60">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-8 col-lg-8 offset-lg-2 offset-xl-2">
                             <div class="section-title text-center mr-40 ml-40 mb-75">
                                 <h6><img width="30px" style="margin-right:10px" src="/assets/img/redciudadana.png">Investigaciones y Mediciones</h6>
                                 <div class="linea"></div>
                                 <h1 style="font-size: 45px!important;">Nuestras últimas mediciones</h1>
                             </div>
                        </div>
                    </div>
                    <div class="row">
                        {% for medicion in collections.mediciones | limit(3)%}

                            <!-- Publicación 1 - Publicaciones, reportes, investigaciones -->
                            <div class="col-xl-4 col-lg-4 col-md-6 ">
                                <div class="case-wrapper case-02-wrapper mb-30">
                                    <div class="case-img">
                                        <a target="_blank" href="{{medicion.data.enlace}}"><img src="{{medicion.data.foto}}" alt="{{medicion.data.title}}"></a>
                                    </div>
                                    <div class="case-text">
                                        <h3><a target="_blank" href="{{medicion.data.enlace}}"> {{medicion.data.title}} </a></h3>
                                        <span>{{medicion.data.date | dateFormat('DD / MM / YYYY')}}</span>
                                    </div>
                                    <div class="case-info">
                                        <p> {{medicion.data.description}} </p>
                                        <div class="b-button">
                                            <a target="_blank" href="{{medicion.data.enlace}}"><span>Descargar Medición</span> <i class="fa-solid fa-long-arrow-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        {% endfor %}
                    </div>

                    <div class="row">
                        <div class="col-lg-12 text-center mb-4">
                            <a class="btn " href="/mediciones/index.html">Ver todas las mediciones <i class="fa-solid fa-long-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>


            <!-- blog-area-start -->
            <div class="blog-area pt-130 pb-100">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-8 col-lg-8 offset-lg-2 offset-xl-2">
                             <div class="section-title text-center mr-40 ml-40 mb-75">
                                 <h6><img width="30px" style="margin-right:10px" src="/assets/img/redciudadana.png"> Noticias y Blog</h6>
                                 <div class="linea"></div>
                                 <h1 style="font-size: 45px!important;">Últimas noticias y actualizaciones</h1>
                             </div>
                        </div>
                    </div>
                    
                    <div class="row">
                    {% for post in collections.blogs | reverse | limit(3)%}
                        <!-- Blog -->
                        <div class="col-xl-4 col-lg-4 col-md-6">
                            <div class="case-wrapper case-02-wrapper mb-30">
                                <div class="case-img">
                                    <a href="{{post.url}}"><img src="{{post.data.image}}" alt="{{proyecto.data.title}}"></a>
                                </div>
                                <div class="case-text">
                                    <h3><a href="{{post.url}}"> {{post.data.title}} </a></h3>
                                    <span>{{post.data.date | dateFormat('DD / MM / YYYY')}}</span>
                                </div>
                                <div class="case-info custom-overflow-hidden" style="height:120px">
                                    <p class="text-overflow2"> {{post.data.description}} </p>
                                </div>
                                <div class="b-button">
                                    <a href="{{post.url}}"><span>Mas Información</span> <i class="fa-solid fa-long-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                        
                        

                    {% endfor %}
                    </div>

                    <div class="row">
                        <div class="col-lg-12 text-center mb-4">
                            <a class="btn " href="/blogs/index.html">Ver todas las noticias <i class="fa-solid fa-long-arrow-right"></i></a>
                        </div>
                    </div>

                </div>
            </div>
            <!-- blog-area-end -->

            <!--instragram gallery>
            <div class="brand-02-area pb-100">
                <div class="">

                        <div class="col-xl-8 col-lg-8 offset-lg-2 offset-xl-2">
                             <div class="section-title text-center mr-40 ml-40 mb-75">
                                 <span><i class="fab fa-instagram"></i> Siguenos </span>
                                 <h1> Siguenos en Instagram </h1>
                             </div>
                        </div>                     
                        <div class="element"></div>
                </div>
            </div>
            <Intagram-gallery-end-->

            <!--TIK TOKs>
            <div class="blog-area pt-130 pb-100">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-8 col-lg-8 offset-lg-2 offset-xl-2">
                             <div class="section-title text-center mr-40 ml-40 mb-75">
                                 <h6><img width="30px" style="margin-right:10px" src="/assets/img/redciudadana.png"> TikToks</h6>
                                 <div class="linea"></div>
                                 <h1 style="font-size: 45px!important;">Tik Toks</h1>
                             </div>
                        </div>
                    </div>
                    <div class="row">
                        {% for tiktok in collections.tiktoksHighlighted | limit(3)%}
                        <div class="col-lg-4 col-sm-12 col-md-6 p-0">
                            {{tiktok.data.enlace | safe}}
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div-->
            <!-- brand-area-start -->


            <div class="brand-02-area pt-100 pb-100" style="background: #E5E6ED">
                <div class="container">

                        <div class="col-xl-8 col-lg-8 offset-lg-2 offset-xl-2">
                             <div class="section-title text-center mt-40 mr-40 ml-40 mb-75">
                                 
                                 <h1 style="font-size: 45px!important;"> Iniciativas y Alianzas </h1>
                             </div>
                        </div>

                    <div class="row brand-2-active">
                        <div class="col-xl-12">
                            <div class="brand-img text-center" > 
                                <img alt="Cambiar imagen"  onmouseout="this.src='assets/ELEMENTOS/HOME/LOGOS ALIANZAS/ALIANZA-POR-LA-DEMOCRACIA.png';" onmouseover="this.src='assets/ELEMENTOS/LOGOS/ALIANZA-POR-LA-DEMOCRACIA.png';" src="assets/ELEMENTOS/HOME/LOGOS ALIANZAS/ALIANZA-POR-LA-DEMOCRACIA.png" />
                            </div>
                        </div>
                        <div class="col-xl-12">
                            <div class="brand-img text-center">
                                <img alt="Cambiar imagen"  onmouseout="this.src='assets/ELEMENTOS/HOME/LOGOS ALIANZAS/GOBIERNO-ABIERTO.png';" onmouseover="this.src='assets/ELEMENTOS/LOGOS/ALIANZA-GA.png';" src="assets/ELEMENTOS/HOME/LOGOS ALIANZAS/GOBIERNO-ABIERTO.png" />
                            </div>
                        </div>
                        <div class="col-xl-12">
                            <div class="brand-img text-center">
                                <img alt="Cambiar imagen" style="height:70px"  onmouseout="this.src='assets/ELEMENTOS/HOME/LOGOS ALIANZAS/codeforall.png';" onmouseover="this.src='assets/ELEMENTOS/LOGOS/codeforall.jpeg';" src="assets/ELEMENTOS/HOME/LOGOS ALIANZAS/codeforall.png" />
                            </div>
                        </div>
                        <div class="col-xl-12">
                            <div class="brand-img text-center">
                                <img alt="Cambiar imagen"  onmouseout="this.src='assets/ELEMENTOS/HOME/LOGOS ALIANZAS/LABERINTO-DE-PODER.png';" onmouseover="this.src='assets/ELEMENTOS/LOGOS/LABERINTO-DE-PODER.png';" src="assets/ELEMENTOS/HOME/LOGOS ALIANZAS/LABERINTO-DE-PODER.png" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- brand-area-end -->

{% endblock %}

{% block body_javascripts%}
        <script src="/assets/js/popup.js"></script>
        <script src="/assets/js/popup2.js"></script>
{% endblock %}