---
permalink: "/proyectos/index.html"
---

{% extends "base.njk" %}

{% block head %}
<title>Red Ciudadana - Proyectos</title>
{% endblock %}

{% block content %}

            <!-- Banner -area-start -->
            <div class="breadcrumb-area pt-150 pb-155" style="background-image:url(/assets/img/red/proyectos/04.png)">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="breadcrumb-text text-center">
                                <h1 style="font-size:45px">Nuestros Proyectos </h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- breadcrumb-area-end -->
            


            <!-- case-area-start -->
            <div class="case-area pt-130 pb-100 " id="proyectos">
                <div class="container" >
                    <div class="row" >
                        <div class="col-xl-8 col-lg-8 offset-lg-2 offset-xl-2">
                             <div class="section-title text-center mr-80 ml-80 mb-80">
                                 <h6>¿Qué hacemos?</h6>
                                 <div class="linea"></div>
                                 <h1>Explora nuestros últimos proyectos</h1>
                                 <h6 class="mb-30 mt-30">Selecciona 1 de los 4 programa para ver los proyectos:</h6>
                             </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="case-tab mb-60">
                                <ul class="nav product-nav justify-content-center" id="myTab" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active h-100" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">
                                            <div class="case-tap-wrapper text-center">
                                                <div class="case-tap-img">
                                                    <img width="60%" src="/assets/img/red/ICONOS-21.png" alt="Innovación en Gobierno">
                                                </div>
                                                <div class="case-tap-text">
                                                    <h4>Innovación en Gobierno</h4>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link h-100" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false"><!--Tenia clase active-->
                                            <div class="case-tap-wrapper text-center">
                                                <div class="case-tap-img">
                                                    <img width="60%" src="/assets/img/red/ICONOS-22.png" alt="Innovación Social">
                                                </div>
                                                <div class="case-tap-text">
                                                    <h4>Innovación Social</h4>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link h-100" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">
                                            <div class="case-tap-wrapper text-center">
                                                <div class="case-tap-img">
                                                    <img width="60%" src="/assets/img/red/ICONOS-23.png" alt="Auditoria Social">
                                                </div>
                                                <div class="case-tap-text">
                                                    <h4>Auditoria Social</h4>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link h-100" id="contact-tab1" data-toggle="tab" href="#contact1" role="tab" aria-controls="contact" aria-selected="false">
                                            <div class="case-tap-wrapper text-center">
                                                <div class="case-tap-img">
                                                    <img width="60%" src="/assets/img/red/ICONOS-24.png" alt="Fortalecimiento de Espacios Cívicos">
                                                </div>
                                                <div class="case-tap-text">
                                                    <h4>Fortalecimiento de Espacios Cívicos</h4>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                             </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-12">
                           <div class="product-tab-content">



                           	   <!-- Innovación en Gobierno -->
                               <div class="tab-content" id="myTabContent">
                                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                        <div class="row">

                                            {% for proyecto in collections.proyectos | reverse%}
                                            {% if proyecto.data.programa == 'Innovación en Gobierno'%}

                                            <!-- Proyecto - Innovación en Gobierno --> 
                                            <div class="col-xl-4 col-lg-4 col-md-6">
                                                <div class="case-wrapper case-02-wrapper mb-30">
                                                    <div class="case-img">
                                                        <a target="_blank" href="{{proyecto.data.enlace}}"><img src="{{proyecto.data.foto}}" alt="{{proyecto.data.title}}"></a>
                                                    </div>
                                                    <div class="case-text">
                                                        <h3><a target="_blank" href="{{proyecto.data.enlace}}"> {{proyecto.data.title}} </a></h3>
                                                        <span>{{proyecto.data.ano}}</span>
                                                    </div>
                                                    <div class="case-info custom-overflow-hidden" style="height:120px">
                                                        <p class="text-overflow2"> {{proyecto.data.descripcion}} </p>
                                                    </div>
                                                    <div class="b-button">
                                                        <a target="_blank" href="{{proyecto.data.enlace}}"><span>Mas Información</span> <i class="far fa-long-arrow-right"></i></a>
                                                    </div>
                                                </div>
                                            </div>

                                            {% endif %}
                                            {% endfor %}

                                        </div>
                                    </div>
                                    
                                <!-- Innovación Social -->
                                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                    <div class="row">

                                        	{% for proyecto in collections.proyectos | reverse%}
                                            {% if proyecto.data.programa == 'Innovación Social'%}

                                            <!-- Proyecto - Innovación Social --> 
                                            <div class="col-xl-4 col-lg-4 col-md-6">
                                                <div class="case-wrapper case-02-wrapper mb-30">
                                                    <div class="case-img">
                                                        <a target="_blank" href="{{proyecto.data.enlace}}"><img src="{{proyecto.data.foto}}" alt="{{proyecto.data.title}}"></a>
                                                    </div>
                                                    <div class="case-text">
                                                        <h3><a target="_blank" href="{{proyecto.data.enlace}}"> {{proyecto.data.title}} </a></h3>
                                                        <span>{{proyecto.data.ano}}</span>
                                                    </div>
                                                    <div class="case-info custom-overflow-hidden" style="height:120px">
                                                        <p class="text-overflow2"> {{proyecto.data.descripcion}} </p>
                                                    </div>
                                                    <div class="b-button">
                                                        <a target="_blank" href="{{proyecto.data.enlace}}"><span>Mas Información</span> <i class="far fa-long-arrow-right"></i></a>
                                                    </div>
                                                </div>
                                            </div>

                                            {% endif %}
                                            {% endfor %}


                                    </div>
                                 </div>

                           	   	<!-- Auditoria Social -->
                                <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                                    <div class="row">
 
                                        	{% for proyecto in collections.proyectos | reverse%}
                                            {% if proyecto.data.programa == 'Auditoria Social'%}

                                            <!-- Proyecto - Auditoria Social --> 
                                            <div class="col-xl-4 col-lg-4 col-md-6">
                                                <div class="case-wrapper case-02-wrapper mb-30">
                                                    <div class="case-img">
                                                        <a target="_blank" href="{{proyecto.data.enlace}}"><img src="{{proyecto.data.foto}}" alt="{{proyecto.data.title}}"></a>
                                                    </div>
                                                    <div class="case-text">
                                                        <h3><a target="_blank" href="{{proyecto.data.enlace}}"> {{proyecto.data.title}} </a></h3>
                                                        <span>{{proyecto.data.ano}}</span>
                                                    </div>
                                                    <div class="case-info custom-overflow-hidden" style="height:120px">
                                                        <p class="text-overflow2"> {{proyecto.data.descripcion}} </p>
                                                    </div>
                                                    <div class="b-button">
                                                        <a target="_blank" href="{{proyecto.data.enlace}}"><span>Mas Información</span> <i class="far fa-long-arrow-right"></i></a>
                                                    </div>
                                                </div>
                                            </div>

                                            {% endif %}
                                            {% endfor %}

                                    </div>


                                   </div>

                           	   	<!-- Fortalecimiento de Espacios Cívicos -->
                                <div class="tab-pane fade" id="contact1" role="tabpanel" aria-labelledby="contact-tab1">
                                    <div class="row">


                                            {% for proyecto in collections.proyectos | reverse%}
                                            {% if proyecto.data.programa == 'Fortalecimiento de Espacios Cívicos'%}

                                            <!-- Proyecto - Fortalecimiento de Espacios Cívicos --> 
                                            <div class="col-xl-4 col-lg-4 col-md-6">
                                                <div class="case-wrapper case-02-wrapper mb-30">
                                                    <div class="case-img">
                                                        <a target="_blank" href="{{proyecto.data.enlace}}"><img src="{{proyecto.data.foto}}" alt="{{proyecto.data.title}}"></a>
                                                    </div>
                                                    <div class="case-text">
                                                        <h3><a target="_blank" href="{{proyecto.data.enlace}}"> {{proyecto.data.title}} </a></h3>
                                                        <span>{{proyecto.data.ano}}</span>
                                                    </div>
                                                    <div class="case-info custom-overflow-hidden" style="height:120px">
                                                        <p class="text-overflow2"> {{proyecto.data.descripcion}} </p>
                                                    </div>
                                                    <div class="b-button">
                                                        <a target="_blank" href="{{proyecto.data.enlace}}"><span>Mas Información</span> <i class="far fa-long-arrow-right"></i></a>
                                                    </div>
                                                </div>
                                            </div>

                                            {% endif %}
                                            {% endfor %}



                                    </div>
                                   </div>

                               </div>
                           </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- case-area-end -->

{% endblock %}