---
permalink: "/publicaciones/index.html"
---

{% extends "base.njk" %}

{% block head %}
<title>Red Ciudadana - Publicaciones</title>
{% endblock %}

{% block content %}

             <!-- Banner -area-start -->
            <div class="breadcrumb-area pt-150 pb-155" style="background-image:url(/assets/ELEMENTOS/PUBLICACIONES/SLIDER-PUBLICACIONES.png)">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="breadcrumb-text text-center">
                                <h1>Publicaciones </h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- breadcrumb-area-end -->

            <!-- event-area-start -->
            <div class="event-area pt-130 pb-130">

            	<!-- Publicación 1 - Publicaciones, reportes, investigaciones -->
                <div class="container">
                    <div class="event-bg event-bg-03 pos-rel mb-30">
                        <div class="row">
                            <div class="col-xl-6 col-lg-6">
                                <div class="event-img mb-20">
                                    <a><img src="/assets/ELEMENTOS/PUBLICACIONES/PUBLICACIONES/RED_CIUDADANA.png" alt="Indice de Datos Abiertos 2021"></a>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6">
                                <div class="event-wrapper mb-20 ">
                                    <div class="event-text">
                                        <span><i class="far fa-map-marked-alt verdeo"></i> Guatemala - 12 de Enero 2022</span>
                                        <h3><a>Indice de Datos Abiertos 2021</a></h3>
                                    </div>
                                    <div class="event-meta">
                                        <span><i class="far fa-user-circle"></i>El Índice de Datos Abiertos 2021 es una iniciativa desarrollada por la organización de sociedad civil, Red Ciudadana, que evalúa el nivel de apertura de información de 30 instituciones del poder ejecutivo de la República de Guatemala.</span>
                                    </div><br>
                                    <div class="cta-content">
                                        <div class="cta-button">
                                            <a class="btn" href="#">Descargar <i class="far fa-long-arrow-right"></i></a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            	<!-- Publicación 2 - Publicaciones, reportes, investigaciones -->
                <div class="container">
                    <div class="event-bg event-bg-03 pos-rel mb-30">
                        <div class="row">
                            <div class="col-xl-6 col-lg-6">
                                <div class="event-img mb-20">
                                    <a><img src="/assets/ELEMENTOS/PUBLICACIONES/PUBLICACIONES/RED_CIUDADANA.png" alt="Un acercamiento a la Justicia Abierta en Guatemala Justicia Abierta"></a>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6">
                                <div class="event-wrapper mb-20 ">
                                    <div class="event-text">
                                        <span><i class="far fa-map-marked-alt verdeo"></i> Guatemala - 6 de Agosto 2021</span>
                                        <h3><a>Un acercamiento a la Justicia Abierta en Guatemala Justicia Abierta</a></h3>
                                    </div>
                                    <div class="event-meta">
                                        <span><i class="far fa-user-circle"></i>La Justicia Abierta es uno de los temas que poco a poco ha tenido un impacto en los sistemas judiciales de Latinoamérica.La presente guía tiene como objetivo presentar los conceptos más importantes que rodean el concepto de justicia abierta y los puntos más relevantes en Guatemala</span>
                                    </div><br>
                                    <div class="cta-content">
                                        <div class="cta-button">
                                            <a class="btn" href="http://publicaciones.redciudadana.org/2021/Un%20acercamiento%20a%20la%20Justicia%20Abierta%20en%20Guatemala%20Justicia%20Abierta%20-%20Red%20Ciudadana.pdf">Descargar <i class="far fa-long-arrow-right"></i></a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            	<!-- Publicación 3 - Publicaciones, reportes, investigaciones -->
                <div class="container">
                    <div class="event-bg event-bg-03 pos-rel mb-30">
                        <div class="row">
                            <div class="col-xl-6 col-lg-6">
                                <div class="event-img mb-20">
                                    <a><img src="/assets/ELEMENTOS/PUBLICACIONES/PUBLICACIONES/INFORME-NUESTRA-SALUD.png" alt="Informe Final Nuestra Salud 2020"></a>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6">
                                <div class="event-wrapper mb-20 ">
                                    <div class="event-text">
                                        <span><i class="far fa-map-marked-alt verdeo"></i> Guatemala - 6 de Marzo 2021</span>
                                        <h3><a>Informe Final Nuestra Salud 2020</a></h3>
                                    </div>
                                    <div class="event-meta">
                                        <span><i class="far fa-user-circle"></i>El 13 de marzo de 2020 se reportó el primer caso de Covid-19 en Guatemala, producto de esto se aprobaron los decretos 12-2020 (Q1,200) y 20-2020 (Q426.00), con los cuales se amplió el presupuesto en Q 1,200 millones y Q 426 millones respectivamente, por lo que el presupuesto vigente del MSPAS al 31 de mayo es de Q 9, 963.20 millones. A pesar de tener un fondo monetario considerablemente extenso, se ha puesto en tela de juicio su correcta ejecución puesto que a 6 meses del inicio de la pandemia, muy pocos resultados con impacto positivo se ha generado. Por ello, se realiza un estudio para comprender mejor la ejecución del presupuesto en pro de emergencia en la que está puesta el Estado</span>
                                    </div><br>
                                    <div class="cta-content">
                                        <div class="cta-button">
                                            <a class="btn" href="https://publicaciones.redciudadana.org/2020/Nuestra%20Salud/INFORME%20FINAL_NUESTRA%20SALUD.pdf">Descargar <i class="far fa-long-arrow-right"></i></a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            	<!-- Publicación 4 - Publicaciones, reportes, investigaciones -->
                <div class="container">
                    <div class="event-bg event-bg-03 pos-rel mb-30">
                        <div class="row">
                            <div class="col-xl-6 col-lg-6">
                                <div class="event-img mb-20">
                                    <a><img src="/assets/ELEMENTOS/PUBLICACIONES/PUBLICACIONES/DIAGNOSTICO-DE-GOBIERNO-ELECTRONICO-.png" alt="Diagnóstico de Gobierno Electrónico 2020"></a>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6">
                                <div class="event-wrapper mb-20 ">
                                    <div class="event-text">
                                        <span><i class="far fa-map-marked-alt verdeo"></i> Guatemala - 6 de Marzo 2021</span>
                                        <h3><a>Diagnóstico de Gobierno Electrónico 2020</a></h3>
                                    </div>
                                    <div class="event-meta">
                                        <span><i class="far fa-user-circle"></i>Este informe busca abrir la discusión sobre las estrategias y planes oficiales de gobierno electrónico y que la capacidad para aplicarlos pueden marcar la diferencia, permitiendo a los ciudadanos de Guatemala obtener mejores servicios públicos. En Red Ciudadana creemos que los países deberían invertir en estrategias bien elaboradas y específicas en temas innovadores, así como en la continuidad de las políticas públicas y en su capacidad para obtener resultados.</span>
                                    </div><br>
                                    <div class="cta-content">
                                        <div class="cta-button">
                                            <a class="btn" href="https://publicaciones.redciudadana.org/2021/I%CC%81ndice%20de%20Gobierno%20Electro%CC%81nico%20-%20Red%20Ciudadana.pdf">Descargar <i class="far fa-long-arrow-right"></i></a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            	<!-- Publicación 5 - Publicaciones, reportes, investigaciones -->
                <div class="container">
                    <div class="event-bg event-bg-03 pos-rel mb-30">
                        <div class="row">
                            <div class="col-xl-6 col-lg-6">
                                <div class="event-img mb-20">
                                    <a><img src="/assets/ELEMENTOS/PUBLICACIONES/PUBLICACIONES/DATOS-ABIERTOS-DE-GUATEMALA.png" alt="Indice de Datos Abiertos 2019"></a>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6">
                                <div class="event-wrapper mb-20 ">
                                    <div class="event-text">
                                        <span><i class="far fa-map-marked-alt verdeo"></i> Guatemala - 12 de Marzo 2020</span>
                                        <h3><a>Indice de Datos Abiertos 2019</a></h3>
                                    </div>
                                    <div class="event-meta">
                                        <span><i class="far fa-user-circle"></i>El Índice de Datos Abiertos 2019 es una iniciativa desarrollada por la organización de sociedad civil, Red Ciudadana, que evalúa el nivel de apertura de información de 30 instituciones del poder ejecutivo de la República de Guatemala.</span>
                                    </div><br>
                                    <div class="cta-content">
                                        <div class="cta-button">
                                            <a class="btn" href="https://publicaciones.redciudadana.org/2020/%C3%8Dndice%20de%20Datos%20Abiertos%202019%20-%20Red%20Ciudadana.pdf">Descargar <i class="far fa-long-arrow-right"></i></a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            	<!-- Publicación 6 - Publicaciones, reportes, investigaciones -->
                <div class="container">
                    <div class="event-bg event-bg-03 pos-rel mb-30">
                        <div class="row">
                            <div class="col-xl-6 col-lg-6">
                                <div class="event-img mb-20">
                                    <a><img src="/assets/ELEMENTOS/PUBLICACIONES/PUBLICACIONES/RED_CIUDADANA.png" alt="Manual de auditoria social y fortalecimiento de las capacidades de participación ciudadana"></a>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6">
                                <div class="event-wrapper mb-20 ">
                                    <div class="event-text">
                                        <span><i class="far fa-map-marked-alt verdeo"></i> Guatemala - 6 de Septiembre 2020</span>
                                        <h3><a>Manual de auditoria social y fortalecimiento de las capacidades de participación ciudadana</a></h3>
                                    </div>
                                    <div class="event-meta">
                                        <span><i class="far fa-user-circle"></i>El propósito de las auditorías sociales es mejorar los resultados y la transparencia del uso de los recursos. Se trata de un proceso donde la ciudadanía organizada establece mecanismos para analizar la acción social, en función de sus objetivos, procedimientos y los resultados obtenidos.</span>
                                    </div><br>
                                    <div class="cta-content">
                                        <div class="cta-button">
                                            <a class="btn" href="https://publicaciones.redciudadana.org/2020/Manual%20de%20auditoria%20social%20y%20fortalecimiento%20de%20las%20capacidades%20de%20participaci%C3%B3n%20ciudadana.pdf">Descargar <i class="far fa-long-arrow-right"></i></a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            	<!-- Publicación 7 - Publicaciones, reportes, investigaciones -->
                <div class="container">
                    <div class="event-bg event-bg-03 pos-rel mb-30">
                        <div class="row">
                            <div class="col-xl-6 col-lg-6">
                                <div class="event-img mb-20">
                                    <a><img src="/assets/ELEMENTOS/PUBLICACIONES/PUBLICACIONES/RED_CIUDADANA.png" alt="Manual de herramientas de activismo"></a>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6">
                                <div class="event-wrapper mb-20 ">
                                    <div class="event-text">
                                        <span><i class="far fa-map-marked-alt verdeo"></i> Guatemala - 12 de Marzo 2019</span>
                                        <h3><a>Manual de herramientas de activismo</a></h3>
                                    </div>
                                    <div class="event-meta">
                                        <span><i class="far fa-user-circle"></i>Este material pretende ser una ayuda para incidir en la agenda de los gobiernos locales o nacionales, mediante el posicionamiento de propuestas ciudadanas que resuelvan problemas públicos. En esta guía encontraremos un paso a paso para la difusión de propuestas, y consejos útiles para mejorar el trabajo de su organización y planificar actividades de difusión.</span>
                                    </div><br>
                                    <div class="cta-content">
                                        <div class="cta-button">
                                            <a class="btn" href="https://publicaciones.redciudadana.org/2019/Nuestra%20Elecci%C3%B3n/4.%20Manual%20de%20herramientas%20de%20activismo.pdf">Descargar <i class="far fa-long-arrow-right"></i></a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            	<!-- Publicación 8 - Publicaciones, reportes, investigaciones -->
                <div class="container">
                    <div class="event-bg event-bg-03 pos-rel mb-30">
                        <div class="row">
                            <div class="col-xl-6 col-lg-6">
                                <div class="event-img mb-20">
                                    <a><img src="/assets/ELEMENTOS/PUBLICACIONES/PUBLICACIONES/RED_CIUDADANA.png" alt="Guía de elaboración de propuestas ciudadanas"></a>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6">
                                <div class="event-wrapper mb-20 ">
                                    <div class="event-text">
                                        <span><i class="far fa-map-marked-alt verdeo"></i> Guatemala - 6 de Marzo 2019</span>
                                        <h3><a>Guía de elaboración de propuestas ciudadanas</a></h3>
                                    </div>
                                    <div class="event-meta">
                                        <span><i class="far fa-user-circle"></i>Creemos en la ciudadanía como la protagonista principal de las elecciones; sin embargo, la participación no se agota en el voto. Tenemos la convicción de que mediante la información, el diálogo, la articulación y el debate podemos hacer que las propuestas ciudadanas sean las que marquen los procesos electorales.</span>
                                    </div><br>
                                    <div class="cta-content">
                                        <div class="cta-button">
                                            <a class="btn" href="https://publicaciones.redciudadana.org/2019/Nuestra%20Elecci%C3%B3n/3.%20Gu%C3%ADa%20de%20elaboraci%C3%B3n%20de%20propuestas%20ciudadanas.pdf">Descargar <i class="far fa-long-arrow-right"></i></a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>


            <!-- event-area-end -->

{% endblock %}