{% extends "base.njk" %}

{% block head %}
<title>Blogs | {{ title }}</title>

{% endblock %}

{% block content %}
    
<!--POST-->
<div class="container " >

  <div class="row my-4 py-4">
    {% if collections.addsHighlighted %}
      {% for anuncio in collections.addsHighlighted %}
        <div class="col-xl-12 col-lg-12 col-md-12 justify-content-center">
          <embed width="95%" src="{{anuncio.data.enlaceh}}">
        </div>  
      {% endfor %}
    {% endif %}
  </div>

  <div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12">
      <article>
        <header class="py-4 my-4">
          <h1 class=" font-bold text-4xl text-gray-800">
            {{ title }}
          </h1>
          <br>
          <h6 class=" font-bold text-1xl text-gray-800">
            {{ description }}
          </h6>

          <div class=" text-sm text-gray-600 mb-6">
            Autor:
              <span class="text-sm font-semibold text-gray-900 ml-2">
                <!--autor correo fecha-->
                    {{ autor }} | {{ correo }} | {{ date|dateFormat('DD/MM/YYYY')}}
              </span>
          </div>
        </header>
        
        <section class="content text-justify">
          <div class="row">
            <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 px-4">
              {{ content | safe}}
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 px-4" >
              <h6>Escucha nuestros podcasts</h6>
              <div class="w-full">
                {% if collections.podcasts %}
                  {% for podcast in collections.podcasts | reverse | limit(4) %}
                    <div class="block mb-4">
                      <iframe src="{{ podcast.data.link }}" width="100%"
                        height="152" frameBorder="0" allowfullscreen="" class="rifra"
                        allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
                    </div>
                  {% endfor %}
                {% endif %}
                {% if collections.addsHighlighted %}
                  {% for anuncio in collections.addsHighlighted %}
                    <div class="block mb-4">
                      <embed width="100%" src="{{anuncio.data.enlacev}}">
                    </div>
                    <div class="block mb-4">
                      <embed width="100%" src="{{anuncio.data.enlaceg}}">
                    </div>  
                  {% endfor %}
                {% endif %}
              </div>
            </div>  
          </div>

        </section>
        
      </article>
    </div>

    <!-- event-area-start -->
    <div class="event-area pt-80 pb-130">
        <div class="container">
            <div class="breadcrumb-text text-left">
                <h2 class="font-bold text-xl border-b-2 border-yellow-500 mb-4 pb-4">Más Blogs</h2>
            </div>

            <div class="row">
            {% for post in collections.blogs | reverse | limit(4)%}
            {% if page.url !== post.url %}

              <!-- Blog -->
              <div class="col-xl-4 col-lg-4 col-md-6">
                  <div class="case-wrapper case-02-wrapper mb-30">
                      <div class="case-img">
                          <a target="_blank" href="{{post.url}}"><img src="{{post.data.image}}" alt="{{proyecto.data.title}}"></a>
                      </div>
                      <div class="case-text">
                          <h3><a target="_blank" href="{{proyecto.data.enlace}}"> {{post.data.title}} </a></h3>
                          <span>{{post.data.date | dateFormat('DD / MM / YYYY')}}</span>
                      </div>
                      <div class="case-info custom-overflow-hidden" style="height:120px">
                          <p class="text-overflow2"> {{post.data.description}} </p>
                      </div>
                      <div class="b-button">
                          <a target="_blank" href="{{post.url}}"><span>Mas Información</span> <i class="far fa-long-arrow-right"></i></a>
                      </div>
                  </div>
              </div>

            {% endif %}
            {% endfor %}
            </div>

        </div>
    <div>

  </div>
</div>

{% endblock %}