{% extends "base.njk" %}

{% block head %}
<title>Departamento | {{ nombre }}</title>

{% endblock %}

{% block content %}
            <!-- Banner-area-start -->
            <div class="breadcrumb-area pt-150 pb-155" style="background-image:url({{slider}})">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="breadcrumb-text text-center">
                                <h1>{{nombre}}</h1>
 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Banner-area-end -->

            <!-- Intro-area-start -->
            <div class="about-us-area pt-130 pb-100">
                <div class="container">
                    <div class="row align-items-center" style="flex-direction:row-reverse">
                        <div class="col-xl-6 col-lg-6">
                            <div class="about-img mb-30 pos-rel">
                                <div class="about-img">
                                    <img src="{{image}}" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6">
                            <div class="abbout-us-wrapper mb-30">
                                <div class="section-title mb-40">
                                    <h1>{{titulo}}</h1>
                                    <p class="mr-50 justify-text">{{description | safe}}</p>
                                </div>

                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
            <!-- Intro-area-end -->

            <!-- Cuadros-area-start -->
            <div class=".event-area pt-125 pb-95" style="background-color: #d6dae1">
                <div class="container">
                    <div class="row">

                        {% for item in collections.estrategia_departamental%}
                        {% if nombre == item.data.departamento %}
                        <div class="col-xl-4 col-lg-4 col-md-6 mb-40">
                            <a href="#" target="_blank"><div class="cuadro-dep">
                                <div class="content">
                                    <img src="{{item.data.image}}">
                                    <h1>{{item.data.title}}</h1>
                                    <p style="height: 140px;overflow: hidden;">{{item.data.description}}</p>
                                </div>
                                <div class="img-bottom">
                                    <img  src="/assets/ELEMENTOS/DEPARTAMENTAL/BARRA-RECUADROS.png">
                                </div>
                            </div></a>
                        </div>
                        {% endif%}
                        {% endfor %}

                        {% for item in collections.proyectos_departamental%}
                        {% if nombre == item.data.departamento %}
                        <div class="col-xl-4 col-lg-4 col-md-6 mb-40">
                            <a href="{{item.url}}"><div class="cuadro-dep">
                                <div class="content">
                                    <img src="{{item.data.image}}">
                                    <h1>{{item.data.title}}</h1>
                                    <p style="height: 140px;overflow: hidden;">{{item.data.description | safe}}</p>
                                </div>
                                <div class="img-bottom">
                                    <img  src="/assets/ELEMENTOS/DEPARTAMENTAL/BARRA-RECUADROS.png">
                                </div>
                            </div></a>
                        </div>
                        {% endif%}
                        {% endfor %}

                         {% for item in collections.cursos_talleres_departamental%}
                         {% if nombre == item.data.departamento %}
                        <div class="col-xl-4 col-lg-4 col-md-6 mb-40">
                            <a href="https://escuela.redciudadana.org/cursos/ " target="_blank"><div class="cuadro-dep">
                                <div class="content">
                                    <img src="{{item.data.image}}">
                                    <h1>{{item.data.title}}</h1>
                                    <p style="height: 140px;overflow: hidden;">{{item.data.description}}</p>
                                </div>
                                <div class="img-bottom">
                                    <img  src="/assets/ELEMENTOS/DEPARTAMENTAL/BARRA-RECUADROS.png">
                                </div>
                            </div></a>
                        </div>
                        {% endif%}
                        {% endfor %}

                        {% for item in collections.hacknights_departamental%}
                        {% if nombre == item.data.departamento %}
                        <div class="col-xl-4 col-lg-4 col-md-6 mb-40">
                            <a href="https://redciudadana.org/eventos/index.html" target="_blank"><div class="cuadro-dep">
                                <div class="content">
                                    <img src="{{item.data.image}}">
                                    <h1>{{item.data.title}}</h1>
                                    <p style="height: 140px;overflow: hidden;">{{item.data.description}}</p>
                                </div>
                                <div class="img-bottom">
                                    <img  src="/assets/ELEMENTOS/DEPARTAMENTAL/BARRA-RECUADROS.png">
                                </div>
                            </div></a>
                        </div>
                        {% endif%}
                        {% endfor %}

                        {% for item in collections.red_departamental%}
                        {% if nombre == item.data.departamento %}
                        <div class="col-xl-4 col-lg-4 col-md-6 mb-40">
                            <a href="http://voluntarios.redciudadana.org/ " target="_blank"><div class="cuadro-dep">
                                <div class="content">
                                    <img src="{{item.data.image}}">
                                    <h1>{{item.data.title}}</h1>
                                    <p style="height: 140px;overflow: hidden;">{{item.data.description}}</p>
                                </div>
                                <div class="img-bottom">
                                    <img  src="/assets/ELEMENTOS/DEPARTAMENTAL/BARRA-RECUADROS.png">
                                </div>
                            </div></a>
                        </div>
                        {% endif%}
                        {% endfor %}

                        {% for item in collections.video_departamental%}
                        {% if nombre == item.data.departamento %}
                        <div class="col-xl-4 col-lg-4 col-md-6 mb-40">
                            <a href="{{item.url}}" target="_blank"><div class="cuadro-dep">
                                <div class="content">
                                    <img src="{{item.data.image}}">
                                    <h1>{{item.data.title}}</h1>
                                    <p style="height: 140px;overflow: hidden;">{{item.data.description | safe}}</p>
                                </div>
                                <div class="img-bottom">
                                    <img  src="/assets/ELEMENTOS/DEPARTAMENTAL/BARRA-RECUADROS.png">
                                </div>
                            </div></a>
                        </div>
                        {% endif%}
                        {% endfor %}
                       
                    </div>
                </div>
            </div>
            <!-- Cuadros-area-end -->
{% endblock %}