{% extends "base.njk" %}

{% block head %}
<title>{{ nombre }}</title>
{% endblock %}

{% block content %}

<!-- Banner-area-start -->
<div class="breadcrumb-area pt-150 pb-155" style="background-image:url(/assets/img/red/05.png)">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="breadcrumb-text text-center">
                    <h1 style="font-size:45px">{{ nombre }}</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Banner-area-end -->

<!--POST-->
<div class="container " >

  <div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12">
      <article>
        
        <section class="content text-justify">
          <div class="row mt-40 mb-40 justify-content-center">
            
            <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 px-4 h2-margin">

              <img class="mb-4" src="{{foto}}">

              <div class=" text-sm text-gray-600 mb-40">
                  <span class="text-sm font-semibold text-gray-900 ml-2">
                    <!--autor correo fecha-->
                      {{ date|dateFormat('DD/MM/YYYY')}}
                  </span>
              </div>
              <div class="content-blog mb-4">
                {{ description | safe}}
              </div>

              <h6 class=" font-bold text-1xl text-gray-800">
                Mediciones
              </h6>
              <div class="content-blog mb-4">
                {% if mediciones %}{{ mediciones | rmj | safe }}{% endif %}
              </div>

              <h6 class=" font-bold text-1xl text-gray-800">
                Procesos de formación
              </h6>
              <div class="content-blog mb-4">
                {% if procesos %}{{ procesos | rmj | safe }}{% endif %}
              </div>

              <h6 class=" font-bold text-1xl text-gray-800">
                Datos Abiertos
              </h6>
              <div class="content-blog mb-4">
                {% if datos %}{{ datos | rmj | safe }}{% endif %}
              </div>
              
              <a class="btn" target="_blank" href="{{enlace}}">Visita nuestra página</a>
            </div>
    
          </div>

        </section>
        
      </article>
    </div>

  </div>
</div>

{% endblock %}