{% extends "base.njk" %}

{% block head %}
<title>{{ nombre }}</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer">
{% endblock %}

{% block content %}

<!-- Banner-area-start -->
<div class="breadcrumb-area pt-150 pb-155" style="background-image:url({{slider}})">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="breadcrumb-text text-center">
                  <div class="titulo_cuadro text-center">
                    <img style="width:130px; position: relative; top: -25px;" src="{{icono}}">
                    <h1 class="text-center" style="font-size:35px">{{ nombre }}</h1>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Banner-area-end -->

<!-- features-area-start -->
<div class="features-02-area pb-90 pt-50">
    <div class="container">
        <div class="row">

            <div class="col-xl-10 col-lg-10 mx-auto">
                <div class="row">
                    <div class="col-xl-12 col-lg-12">
                        <div class="section-title text-center mr-40 ml-40 mb-75">
                            <h2>¿Qué es {{nombre}}?</h2>
                            <div class="linea"></div>
                            <p class="">{{description}}</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    
                    <div class="col-xl-4 col-lg-4 col-md-4 mb-40">
                        <div class="text-center">
                            <div class="">
                                <div class="">
                                    <img src="/assets/img/red/programas/NUEVOWEB RED-26.png" alt="Innovación en Gobierno">
                                </div>
                            </div>
                            <div class="features-02-text text-center">
                                <h3>Mediciones</h3>
                                <br>
                                <p>{{mediciones}}</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-4 col-lg-4 col-md-4 mb-40">
                        <div class="text-center">
                            <div class="">
                                <div class="">
                                    <img src="/assets/img/red/programas/NUEVOWEB RED-27.png" alt="Innovación en Gobierno">
                                </div>
                            </div>
                            <div class="features-02-text text-center">
                                <h3>Procesos de Formación</h3>
                                <br>
                                <p>{{procesos}}</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-4 col-lg-4 col-md-4 mb-40">
                        <div class="text-center">
                            <div class="">
                                <div class="">
                                    <img src="/assets/img/red/programas/NUEVOWEB RED-28.png" alt="Innovación en Gobierno">
                                </div>
                            </div>
                            <div class="features-02-text text-center">
                                <h3>Datos Abiertos</h3>
                                <br>
                                <p>{{datos}}</p>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row">
                  <div class="col-lg-12 text-center">
                    <a href="{{enlace}}" class="btn">Visita nuestra página</a>
                  </div>
                </div>

            </div>

        </div>
    </div>
</div>
<!-- features-area-end -->

<div class="brand-02-area pt-100 pb-100" style="background: #E5E6ED">
  <div class="container ">

    <h2 class="text-center font-bold text-1xl text-gray-800">
      Nuestros Proyectos
    </h2>
    <div class="text-center linea"></div>
    <br>
    <div class="row">
      <div class="col-xl-12">
        <div class="product-tab-content">
          <div class="row">

            {% for proyecto in collections.proyectos | reverse%}
            {% if proyecto.data.programa == nombre%}

            <div class="col-xl-4 col-lg-4 col-md-4">
              <div class="case-wrapper case-02-wrapper mb-30">
                <div class="case-img">
                  <a target="_blank" href="{{proyecto.data.enlace}}"><img src="{{proyecto.data.foto}}" alt="{{proyecto.data.title}}"></a>
                </div>
                <div class="case-text">
                  <h3><a target="_blank" href="{{proyecto.data.enlace}}"> {{proyecto.data.title}} </a></h3>
                  <span>{{proyecto.data.ano}}</span>
                </div>
                <div class="case-info custom-overflow-hidden" style="height:120px">
                  <p class="text-overflow2"> {{proyecto.data.descripcion}} </p>
                </div>
                <div class="b-button">
                  <a target="_blank" href="{{proyecto.data.enlace}}"><span>Mas Información</span> <i class="fa-solid fa-long-arrow-right"></i></a>
                </div>
              </div>
            </div>

            {% endif %}
            {% endfor %}

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- brand-area-end -->

{% endblock %}