{% extends "base.njk" %}

{% block head %}
<title>{{ nombre }}</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer">
{% endblock %}

{% block content %}

<!-- Banner-area-start -->
<div class="breadcrumb-area pt-150 pb-155" style="background-image:url(/assets/img/red/05.png)">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="breadcrumb-text text-center">
                    <h1 style="font-size:45px">{{ nombre }}</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Banner-area-end -->

<!--POST-->
<div class="container " >

  <div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12">
      <article>
        
        <section class="content text-justify">
          <div class="row mt-40 mb-40 justify-content-center">
            
            <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 px-4 h2-margin">

              <img class="mb-4" src="{{foto}}">

              <div class=" text-sm text-gray-600 mb-40">
                  <span class="text-sm font-semibold text-gray-900 ml-2">
                    <!--autor correo fecha-->
                      {{ date|dateFormat('DD/MM/YYYY')}}
                  </span>
              </div>
              <div class="content-blog mb-4">
                {{ description | safe}}
              </div>

              <h6 class=" font-bold text-1xl text-gray-800">
                Mediciones
              </h6>
              <div class="content-blog mb-4">
                {% if mediciones %}{{ mediciones | rmj | safe }}{% endif %}
              </div>

              <h6 class=" font-bold text-1xl text-gray-800">
                Procesos de formación
              </h6>
              <div class="content-blog mb-4">
                {% if procesos %}{{ procesos | rmj | safe }}{% endif %}
              </div>

              <h6 class=" font-bold text-1xl text-gray-800">
                Datos Abiertos
              </h6>
              <div class="content-blog mb-4">
                {% if datos %}{{ datos | rmj | safe }}{% endif %}
              </div>

              <a class="btn mb-4" target="_blank" href="{{enlace}}">Visita nuestra página</a>

              <h6 class=" font-bold text-1xl text-gray-800">
                Nuestros Proyectos
              </h6>
              <div class="row">
                <div class="col-xl-12">
                  <div class="product-tab-content">
                    <div class="row">

                      {% for proyecto in collections.proyectos | reverse%}
                      {% if proyecto.data.programa == nombre%}

                      <div class="col-xl-6 col-lg-6 col-md-6">
                        <div class="case-wrapper case-02-wrapper mb-30">
                          <div class="case-img">
                            <a target="_blank" href="{{proyecto.data.enlace}}"><img src="{{proyecto.data.foto}}" alt="{{proyecto.data.title}}"></a>
                          </div>
                          <div class="case-text">
                            <h3><a target="_blank" href="{{proyecto.data.enlace}}"> {{proyecto.data.title}} </a></h3>
                            <span>{{proyecto.data.ano}}</span>
                          </div>
                          <div class="case-info custom-overflow-hidden" style="height:120px">
                            <p class="text-overflow2"> {{proyecto.data.descripcion}} </p>
                          </div>
                          <div class="b-button">
                            <a target="_blank" href="{{proyecto.data.enlace}}"><span>Mas Información</span> <i class="fa-solid fa-long-arrow-right"></i></a>
                          </div>
                        </div>
                      </div>

                      {% endif %}
                      {% endfor %}

                    </div>
                  </div>
                </div>
              </div>
              
              
            </div>
    
          </div>

        </section>
        
      </article>
    </div>

  </div>
</div>

{% endblock %}